<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.myst.web.mapper.ItemsImgMapper">
    <resultMap id="BaseResultMap" type="cn.myst.web.pojo.ItemsImg">
        <!--@mbg.generated-->
        <!--@Table items_img-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="item_id" jdbcType="VARCHAR" property="itemId"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="is_main" jdbcType="INTEGER" property="isMain"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, item_id, url, sort, is_main, created_time, updated_time
    </sql>
    <update id="updateBatchSelective" parameterType="java.util.List">
        <!--@mbg.generated-->
        update items_img
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="item_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.itemId != null">
                        when id = #{item.id,jdbcType=VARCHAR} then #{item.itemId,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="url = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.url != null">
                        when id = #{item.id,jdbcType=VARCHAR} then #{item.url,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="sort = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.sort != null">
                        when id = #{item.id,jdbcType=VARCHAR} then #{item.sort,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="is_main = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.isMain != null">
                        when id = #{item.id,jdbcType=VARCHAR} then #{item.isMain,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="created_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.createdTime != null">
                        when id = #{item.id,jdbcType=VARCHAR} then #{item.createdTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="updated_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.updatedTime != null">
                        when id = #{item.id,jdbcType=VARCHAR} then #{item.updatedTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=VARCHAR}
        </foreach>
    </update>
    <insert id="batchInsert" parameterType="map">
        <!--@mbg.generated-->
        insert into items_img
                (id, item_id, url, sort, is_main, created_time, updated_time)
                values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=VARCHAR}, #{item.itemId,jdbcType=VARCHAR}, #{item.url,jdbcType=VARCHAR},
             #{item.sort,jdbcType=INTEGER}, #{item.isMain,jdbcType=INTEGER}, #{item.createdTime,jdbcType=TIMESTAMP},
             #{item.updatedTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
</mapper>