<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.myst.web.mapper.UserAddressMapper">
  <resultMap id="BaseResultMap" type="cn.myst.web.pojo.UserAddress">
    <!--@mbg.generated-->
    <!--@Table user_address-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="extand" jdbcType="VARCHAR" property="extand" />
    <result column="is_default" jdbcType="INTEGER" property="isDefault" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, receiver, mobile, province, city, district, detail, extand, is_default, 
    created_time, updated_time
  </sql>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update user_address
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.userId != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.userId,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="receiver = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.receiver != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.receiver,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="mobile = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.mobile != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.mobile,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="province = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.province != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.province,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="city = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.city != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.city,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="district = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.district != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.district,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="detail = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.detail != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.detail,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="extand = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.extand != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.extand,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="is_default = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.isDefault != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.isDefault,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createdTime != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.createdTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updatedTime != null">
            when id = #{item.id,jdbcType=VARCHAR} then #{item.updatedTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=VARCHAR}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into user_address
    (id, user_id, receiver, mobile, province, city, district, detail, extand, is_default, 
      created_time, updated_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.userId,jdbcType=VARCHAR}, #{item.receiver,jdbcType=VARCHAR}, 
        #{item.mobile,jdbcType=VARCHAR}, #{item.province,jdbcType=VARCHAR}, #{item.city,jdbcType=VARCHAR}, 
        #{item.district,jdbcType=VARCHAR}, #{item.detail,jdbcType=VARCHAR}, #{item.extand,jdbcType=VARCHAR}, 
        #{item.isDefault,jdbcType=INTEGER}, #{item.createdTime,jdbcType=TIMESTAMP}, #{item.updatedTime,jdbcType=TIMESTAMP}
        )
    </foreach>
  </insert>
</mapper>