<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.myst.web.tcc.demo.mapper.db131.UserMapper">
  <resultMap id="BaseResultMap" type="cn.myst.web.tcc.demo.domain.db131.User">
    <!--@mbg.generated-->
    <!--@Table t_user-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="update_count" jdbcType="INTEGER" property="updateCount" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, sex, age, update_count, version
  </sql>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update t_user
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="username = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.username != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.username,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="sex = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.sex != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.sex,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="age = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.age != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.age,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_count = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateCount != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.updateCount,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="version = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.version != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.version,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_user
    (username, sex, age, update_count, version)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.username,jdbcType=VARCHAR}, #{item.sex,jdbcType=INTEGER}, #{item.age,jdbcType=INTEGER}, 
        #{item.updateCount,jdbcType=INTEGER}, #{item.version,jdbcType=INTEGER})
    </foreach>
  </insert>
</mapper>